@page "/CodeBot"
@using AutoCode
@inject ILogger<CodeBot> Logger
@attribute [Authorize]

@if (Error != null)
{
    <ul class="list-group mb-3">
        <li class="list-group-item list-group-item-danger">@Error</li>
    </ul>
}

<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <h3>CodeBot</h3>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudSelect T="string" 
                   Label="Function" 
                   Variant="Variant.Outlined" 
                   Dense="true"
                   Value="Function" 
                   SelectedValuesChanged="UpdateView">
            <MudSelectItem Value="@("AddComments")">Add comments</MudSelectItem>
        </MudSelect>
    </MudItem>
</MudGrid>

@switch (Function)
{
    case "AddComments":
        <AddComments></AddComments>
        break;
}

<hr />

@code {
    public string? Error { get; set; }

    public string? Function { get; set; } = "AddComments";

    public void UpdateView(IEnumerable<string> function)
    {
        try
        {
            Function = function.SingleOrDefault();
            StateHasChanged();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}