@inject DevOpsProxy DevOpsProxy

<div>
    <pre class="text">
        @Json
    </pre>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string HistoryUrl { get; set; }

    public string Json { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Json = (await DevOpsProxy.GetAsync(HistoryUrl)).FormatJson();
    }
}
