@inject IDevOpsProxy DevOpsProxy

<div>
    <pre class="text">
        @Json
    </pre>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance? ModalInstance { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    public string? Json { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (Url != null)
        {
            Json = (await DevOpsProxy.GetAsync($"{Url}?api-version=6.0"))?.FormatJson();
        }
    }
}
