@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthUrlPagesProvider AuthUrlProvider

<MudLayout>
    <MudAppBar Dense="true">
        <AuthorizeView>
            <Authorized>
                @if (AuthUrlProvider.IsIdentity)
                {
                    <a href="/identity/account/manage">Welcome @context?.User?.Identity?.Name</a>
                }
                else
                {
                    <span>Welcome @context?.User?.Identity?.Name</span>
                }
            </Authorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    public ClaimsPrincipal? ClaimsPrincipal { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        ClaimsPrincipal = authState.User;
    }

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}