@inject AzureDevOpsTeamMembersVelocity.Services.TokenProvider TokenProvider
@inject AuthUrlPagesProvider AuthUrlProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TeamMembersVelocity</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                    @if (AuthUrlProvider.AuthenticationEnabled)
                    {
                        <hr />
                        <form action="@AuthUrlProvider.LogoutPage" method="post">
                            <button class="nav-link btn btn-link" type="submit">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                            </button>
                            <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken">
                        </form>
                    }
                </Authorized>
                <NotAuthorized>
                    <NavLink clasa="nav-link" href="@AuthUrlProvider.LoginPage">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
